# **<font color="black">Аналитика в Яндекс.Дзене</font>**</font>

Знакомство с проектной работой
Познакомьтесь с проектом, который вам предстоит выполнить после этого курса.
Описание проекта
Вы работаете аналитиком в Яндекс.Дзене. Почти всё ваше время занимает анализ пользовательского взаимодействия с карточками статей.
Каждую карточку определяют её тема и источник (у него тоже есть тема). Примеры тем: «Красота и здоровье», «Россия», «Путешествия».
Пользователей системы характеризует возрастная категория. Скажем, «26-30» или «45+».
Есть три способа взаимодействия пользователей с системой:
Карточка отображена для пользователя (show);
Пользователь кликнул на карточку (click);
Пользователь просмотрел статью карточки (view).
Каждую неделю начинающие менеджеры Денис и Валерия задают вам одни и те же вопросы:
Cколько взаимодействий пользователей с карточками происходит в системе с разбивкой по темам карточек?
Как много событий генерируют источники с разными темами?
Насколько хорошо пользователи конвертируются из показов карточек в просмотры статей?
На шестую неделю работы вы решаете, что процесс пора автоматизировать. Для Дениса и Валерии нужно сделать дашборд.

In [15]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student',         # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # порт подключения
             'db': 'data-analyst-zen-project-db'}          # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                                                                                                             db_config['pwd'],
                                                                                                                                            db_config['host'],
                                                                                                                                             db_config['port'],
                                                                       db_config['db'])

engine = create_engine(connection_string)

In [16]:
db_config = {'user': 'praktikum_student',         # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # порт подключения
             'db': 'data-analyst-zen-project-db'}          # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                                                                                                             db_config['pwd'],
                                                                                                                                            db_config['host'],
                                                                                                                                             db_config['port'],
                                                                       db_config['db'])

engine = create_engine(connection_string)

In [17]:
query = '''
            SELECT * FROM dash_visits
        '''
dash_visits = pd.io.sql.read_sql(query, con = engine)

In [18]:
display(dash_visits)

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

In [19]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
record_id       30745 non-null int64
item_topic      30745 non-null object
source_topic    30745 non-null object
age_segment     30745 non-null object
dt              30745 non-null datetime64[ns]
visits          30745 non-null int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [20]:
dash_visits.to_csv('dash_visits.csv')

In [21]:
from IPython.display import FileLink, FileLinks
dash_visits.to_csv('dash_visits.csv', index=False)
FileLink('dash_visits.csv')

/home/user-0-431678354/work/dash_visits.csv